README.md filter=lfs diff=lfs merge=lfs -text
README_EN.md filter=lfs diff=lfs merge=lfs -text
boot filter=lfs diff=lfs merge=lfs -text
boot.img filter=lfs diff=lfs merge=lfs -text
config.env filter=lfs diff=lfs merge=lfs -text
patches filter=lfs diff=lfs merge=lfs -text
